---
import DashBoardLayout from "@/layouts/DashBoardLayout.astro";

---

<DashBoardLayout title="Providers - SmartSuite">
<h1 class="text-3xl font-bold text-gray-900 mb-4">Providers</h1>
</DashBoardLayout>