---
import DashBoardLayout from "@/layouts/DashBoardLayout.astro";

---

<DashBoardLayout title="Devices - SmartSuite">
<h1 class="text-3xl font-bold text-gray-900 mb-4">Devices</h1>
</DashBoardLayout>