---
import DashBoardLayout from "@/layouts/DashBoardLayout.astro";

---

<DashBoardLayout title="Organization - SmartSuite">
<h1 class="text-3xl font-bold text-gray-900 mb-4">Organization</h1>
</DashBoardLayout>